.home {
  text-align: center;

  button.tsbutton {
    display: inline-block;
    margin-top: 20px;
    background: $red;
    color: $cream;
    font-family: $sans;
    font-weight: 100;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    text-transform: uppercase;
  }
}

