header{
  display: block;
  margin: 0 0 24px;
  padding: 1px 20px;
  text-align: center;
  position: relative;
  background: transparent url('../images/water.svg') no-repeat top center;
  background-size: 100% auto;

  @media screen and (max-width: 1600px){ background-size: 100% auto; margin-bottom: 12px; }

  a.github{
    position: absolute; top: 0; right: 0; border: none;

    @media screen and (max-width: 800px){ display: none;}
  }

  h1{
    display: block;
    font-weight: bold;
    padding: 5% 0 0 0;
    margin: 20px 0 0 0;
    text-align: center;

    @media screen and (max-width: 500px){padding: 8% 0% 5% 0%;}

    a{
      color: $red;
      display: block;
      font-size: 90px;
      line-height: 0.9em;
      padding-top: 150px;
      border: none;
      font-family: "bello-pro", georgia, serif;

      background: transparent url('../images/logo.svg') no-repeat top center;
      background-size: 140px auto;

      @include text-shadow(1px 1px 1px rgba(black, 0.2));

      @media screen and (max-width: 900px){font-size: 76px;}
      @media screen and (max-width: 800px){font-size: 68px;}
      @media screen and (max-width: 700px){font-size: 54px; font-weight: normal;}
      @media screen and (max-width: 600px){font-size: 47px;}
      @media screen and (max-width: 500px){font-size: 34px;}

      span{ display: block;}

      em {
        display: block;
        font-size: 24px;
        line-height: 16px;
        font-family: $sans;
        font-style: normal;
      }

      &:hover{
        color: $red;
        border: none;
        @include text-shadow(2px 2px 2px rgba(black, 0.3));
      }
    }
  }

  h3 a{color: rgba($black, 0.6); font-weight: 700;}
  h3 a:hover{color: $red;}
}

